*{
    margin: 0;
    padding: 0;
    background-color:rgb(121, 117, 117);
}
.container{
    position: relative;
    height: 40vw;
    width: 40vw;
    /* margin:50px auto ; */
    margin: 3vw auto;
    background-image: url(clock.png);
    background-size: 100%;
    
}
.text p{
    margin-top: 175px;
    margin-left: 330px;
    font-size: 25px;
    color: black;
    font-weight:bold;
    background-color: white;
    color: rgb(98, 98, 162);
    letter-spacing: 2px;
    position: absolute;
}

#hour , #minute, #second{
    background-color: black;
    border-radius: 10px;
    position: absolute;
    transform-origin:bottom ;
   
}

#hour{
    width: 0.8vw;
    height: 21%;
   margin-top: 10.9vw; 
   margin-left: 19.6vw;
   
    
}

#minute{
    width: 0.6vw;
    height: 28%;
    margin-top: 8.6vw; 
    margin-left: 19.7vw;
    /* display: none; */
   
}

#second{
    width: 0.4vw;
    height: 33%;
    margin-top: 6.7vw; 
    margin-left: 19.7vw;
    /* display: none; */

    
}
